@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Acrom-Regular.otf')  format('opentype'),
        url('../fonts/Acrom-Regular.woff') format('woff'), url('../fonts/Acrom-Regular.ttf')  format('truetype'), url('../fonts/Acrom-Regular.svg#Acrom-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	  font-family: 'Acrom';
	  src: url('../fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Acrom-Medium.otf')  format('opentype'),
		     url('../fonts/Acrom-Medium.woff') format('woff'), url('../fonts/Acrom-Medium.ttf')  format('truetype'), 
		     url('../fonts/Acrom-Medium.svg#Acrom-Medium') format('svg');
	  font-weight: 500;
	  font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Acrom-Bold.otf')  format('opentype'),
        url('../fonts/Acrom-Bold.woff') format('woff'), url('../fonts/Acrom-Bold.ttf')  format('truetype'), 
        url('../fonts/Acrom-Bold.svg#Acrom-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

$main-font: 'Acrom', sans-serif;
$black-text: #000000;
$white-text: #ffffff;
$bright-color: #077d82;

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body{
	background: #000000;
    margin:0;
	padding: 0;
	font-family: $main-font, sans-serif;
	font-size: 20px;
    font-weight: 400;
	color: $white-text;
	line-height:1.35; 
	min-width: 360px;
}

button,input,select,textarea{
    font-family: $main-font; 
    font-size: 17px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

a {
	text-decoration: none;
}

.wrapper {
    max-width:1200px;
    padding:0 40px;
    margin:0 auto;
}

.caption {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin: 0;
}

.small-caption {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	max-width: 900px;
	margin: 0 auto 20px;
}

.white-block	{
	background: #fff;
	padding: 40px 45px;
	color: $black-text;
}

.caption-on-white {
	color: $black-text;
}

/* buttons */

.button {
	display:inline-block;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	border: none;
	text-align: center;
	
	background: $bright-color;
	color: $black-text;
	
	width: 100%;
	max-width: 280px;
	height: 60px;
	font-size: 20px;
	color: $white-text;
	font-weight: 700;
	padding: 17px 15px 15px;
} 

.button_black {
	border: 2px solid rgb(0, 0, 0);
	background: #fff;
	color: $black-text;
} 

.button_framed {
	background: transparent;
	border: 2px solid $bright-color;
	max-width: 200px;
	height: 50px;
	font-size: 18px;
	font-weight: 400;
	padding: 11px 15px 12px;
}

.button_framed:hover {
	background: $bright-color;
}

.button_framed.active {
	background: $bright-color;
}


/**/

.inner-page header {
	box-shadow: 0 1px 7px 0px #a09e9e69;
}

.filters {
	width: 100%;
	justify-content: center;
	margin: 30px 0 20px;
}

.filters__button {
	margin-right: 15px;
}





/* media */

@media screen and (max-width: 639px) {
	
	
	
	
}
