/*header*/

header {
	box-sizing: border-box;
	padding: 10px 0;
	min-width: 360px;
	position: relative;
	.wrapper {
		align-items: center;
	}
}

.top-line {
	padding: 15px 0;
	position: relative;
	.wrapper {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	&__texts {
		flex-shrink: 0;
		flex: 1;
	}
	&__title {
		font-size: 46px;
		line-height: 1;
		font-weight: 700;
		color: $bright-color;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__sub-title {
		font-size: 32px;
		font-weight: 700;
		color: $white-text;
		text-transform: uppercase;
	}
}

.menu-line {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	background: $dark-matt;
	transform: translateY(-100%);
	transition: all 0.4s linear;
	box-sizing: border-box;
	padding: 20px 40px;
	z-index: 1000;
	&.active {
		transform: translateY(0);
	}
	.burger {
		position: absolute;
		top: 50px;
		right: calc((100% - 1200px)/2);
		bottom: auto;
	}
}

.menu {
	margin: 0;
	padding: 0;
	width: 600px;
	li {
		list-style: none;
	}
	a {
		display: block;   
		font-size: 40px;
		font-weight: 700;
		font-family: "Acrom";
		color: $bright-color;
		text-decoration: none;
		text-transform: uppercase;
		padding: 20px 0;
		transition: color 0.2s linear; 
		&:hover {
			color: #fff;
		}
	}
}

@keyframes color {
	50% { color: $bright-color; }
	100% { color: $white-text;}
}

/*burger*/

.burger {
	display: block;
	position: absolute;
	width: 46px;
	height: 46px;
	right: 36px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	cursor: pointer;
}

.burger span, .burger span::before, .burger span::after {
	display: block;
	cursor: pointer; 
	height: 2px;
	width: 30px;
	background: #fff;
	position: absolute;
	top: 11px;
	right: 8px;
	transition: all .2s ease-in-out;
}

.burger span::before {
	content: '';
	left: 0;
}

.burger span::after {
	content: '';
	left: 0;
	top: 22px;
}

.burger_active span {
	background-color: transparent;
}
    
.burger_active span::before  {
	transform: rotate(45deg);
	top: 10px;
}

.burger_active span::after  {
	transform: rotate(-45deg);
	top: 10px;
}


@media screen and (max-width: 1279px) { 
	header .burger {
		display: block;
	}
	
	header .navbar{
		width: 100%;
		display: none; 
	}
}
 

