/* instagram_screen */

.insta-screen {
    padding: 80px 0 0;
	.caption {
		margin-bottom: 10px;
	}
}

.insta-screen__content {
//	margin: 0 -10px;
}

.insta-slider__slide {
	box-sizing: border-box;
//	padding: 0 10px;
}

.insta-slider__slide a {
	outline: none;
}

.insta-slider__slide img {
	width: 100%;
}