.recipes-screen {
	padding: $common-padding;
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__button {
		margin-top: 40px;
	}
}


.recipes {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
	&__link {
		font-size: 16px;
		color: rgb(0,0,0);
	}
	&__inner {
		width: 100%;
		margin: 0 -15px;
	}
	&__item {
		box-sizing: border-box;
		width: 25%;
		padding: 15px;
	}
	&__item-wr {
		display: block;
		box-sizing: border-box;
		background: $dark;
	}
	&__photo {
		width: 100%;
		height: 260px;
		line-height: 0;
		font-size: 0;
		position: relative;
		img {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
			transition: all 0.4s linear;
		}
		&-food {
			opacity: 1;
		}
		&-author {
			opacity: 0;
		}
	}
	&__item:hover {
		.recipes__photo {
			&-food {
				opacity: 0;
			}
			&-author {
				opacity: 1;
			}
		}
	}
	&__text {
		box-sizing: border-box;
		display: inline-block;
		background-color: $dark;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px;
		width: 100%;
		color: $white-text;
	}

	&__caption {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 7px;
	}

	&__author, &__city {
		font-size: 14px;
		line-height: 1.2;
		margin-bottom: 3px;
	}
}


/*media*/ 

@media screen and (max-width: 1279px) {
	.recipes__item {
		width: 33.3333%;
	}
	
}

@media screen and (max-width: 1023px) {
	.recipes__item {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
    

}

@media screen and (max-width: 639px) {
	.recipes__item {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
}