.about-screen
	.wrapper
		.white-block
			.photo-info.flex
				.photo-info__photos
					.photo-info__photo.photo-info__photo_1
					.photo-info__photo.photo-info__photo_2
					.photo-info__photo.photo-info__photo_3
					.photo-info__photo.photo-info__photo_4
					.photo-info__photo.photo-info__photo_5
				.photo-info__info
					.photo-info__caption.caption.caption-on-white Что здесь происходит??
					p Привет, мы - нахлебники :)) Мы ходим по гостям, подсматриваем как вы готовите свои фирменные рецепты, записываем, фоткаем, пробуем, а потом рассказываем об этом здесь!
					p Здесь будет еще наверное интригующий текст про нас, чтобы всем захотелось застрять на сайте и приготовить что-то из наших рецептов
					p Еще можно рассказать, что мы ведем блог о путешествиях, отправить всех читать раздел о путешествиях, которого пока не существует
					p а в завершение нужно как всегда понапрашиваться в гости, авось кто-то пригласит  и накормит:))