.about-screen
	.wrapper
		.photo-info
			.photo-info__photo
				img(src="../../images/nahlebniki3.JPG")
			.photo-info__info
				.photo-info__caption.caption.caption-on-white Гастрономический Львов
				p Привет, мы - нахлебники :)) Мы ходим по гостям, подсматриваем как вы готовите свои фирменные рецепты, записываем, фоткаем, пробуем, а потом рассказываем об этом здесь!
				p Здесь будет еще наверное интригующий текст про нас, чтобы всем захотелось застрять на сайте и приготовить что-то из наших рецептов
				a.photo-info__link(href="#") Читать полностью
		.photo-info
			.photo-info__photo
				img(src="../../images/nahlebniki4.JPG")
			.photo-info__info
				.photo-info__caption.caption.caption-on-white Рождество в украинском селе
				p Привет, мы - нахлебники :)) Мы ходим по гостям, подсматриваем как вы готовите свои фирменные рецепты, записываем, фоткаем, пробуем, а потом рассказываем об этом здесь!
				p Здесь будет еще наверное интригующий текст про нас, чтобы всем захотелось застрять на сайте и приготовить что-то из наших рецептов
				a.photo-info__link(href="#") Читать полностью
		.photo-info
			.photo-info__photo
				img(src="../../images/nahlebniki1.JPG")
			.photo-info__info
				.photo-info__caption.caption.caption-on-white Походная еда
				p Привет, мы - нахлебники :)) Мы ходим по гостям, подсматриваем как вы готовите свои фирменные рецепты, записываем, фоткаем, пробуем, а потом рассказываем об этом здесь!
				p Здесь будет еще наверное интригующий текст про нас, чтобы всем захотелось застрять на сайте и приготовить что-то из наших рецептов
				a.photo-info__link(href="#") Читать полностью