.form-screen
	.wrapper
		.form
			.caption Для самых смелых :))
			.small-caption Позвать нахлебников и рассказать свой фирменный рецепт можно, заполнив эту форму
			div(role="form" class="wpcf7" id="wpcf7-f4-o1" lang="ru-RU" dir="ltr")
				form.wpcf7-form
					span.wpcf7-form-control-wrap
						input(type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Имя")
					span.wpcf7-form-control-wrap
						input(type="еуче" name="E-mail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="E-mail")
					span.wpcf7-form-control-wrap
						input(type="text" name="text" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Город")
					span.wpcf7-form-control-wrap
						button.button Зову
//				.form-row.flex
//					span.wpcf7-form-control-wrap.wpcf7-form-control-wrap_textarea
//						textarea(type="text" name="text" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Список ингредиентов и пошаговое описание процесса приготовления")
//					.file
//						label.input_wr
//							span.wpcf7-form-control-wrap
//								input(type="file" name="file-554" size="40" class="wpcf7-form-control wpcf7-file" aria-invalid="false")
//								span.file-label Прикрепить фото
				


