<div class="main-screen__form form">
	<div class="wrapper">
		<div class="form__caption">Есть фирменный рецепт?</div>
		<div class="form__after-caption">Обязательно сообщите нам об этом тут!</div>
		<div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="ru-RU" dir="ltr">
			<form class="wpcf7-form">
				<span class="wpcf7-form-control-wrap">
					<input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Имя">
				</span>
				<span class="wpcf7-form-control-wrap">
					<input type="text" name="E-mail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="E-mail">
				</span>
				<span class="wpcf7-form-control-wrap">
					<input type="text" name="text" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Название рецепта">
				</span>
				<span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_button">
					<button class="button button_pink">
						<div class="button__inner">Сообщаю</div>
					</button>
				</span>
			</form>
		</div>
	</div>
</div>
