.insta-screen
	.wrapper
		.caption Присоединяйся к нам в Instagram
		.small-caption Подписывайся на #[a(href="#") @nahlebnik.i] и следи за появлением новых рецептов
	.insta-screen__content
		.insta-slider
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")
			.insta-slider__slide
				a(href="images/lavash.jpg" data-fancybox="gallery")
					img(src="images/lavash.jpg" alt="")

