<section class="instagram_screen">
	<div class="wrapper">
		<div class="caption">Присоединяйся к нам в Instagram</div>
		<div class="small-caption">Подписывайся на <a href="#">@nahlebnik.i</a> и следи за появлением новых рецептов!</div>
		<div class="carousel" data-slide="0">
			<div class="carousel_wr" >
				<div class="content_wrapper">
				<div class="content_container">
					<div class="long">
						<div class="one_doc">
							<div class="inner">
								<a href="images/lavash.jpg">
									<img src="images/lavash.jpg" alt="">
								</a>
							</div>
						</div>
						<div class="one_doc">
							<div class="inner">
								<a href="images/lavash.jpg">
									<img src="images/lavash.jpg" alt="">
								</a>
							</div>
						</div>
						<div class="one_doc">
							<div class="inner">
								<a href="images/lavash.jpg">
									<img src="images/lavash.jpg" alt="">
								</a>
							</div>
						</div>
						<div class="one_doc">
							<div class="inner">
								<a href="images/lavash.jpg">
									<img src="images/lavash.jpg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				</div>	
			</div>
			<div class="controls">
				<div class="control next"></div>
				<div class="control prev"></div>
			</div>
		</div>
	</div>
</section>