.insta-screen
	.wrapper
		.caption Присоединяйся к нам в Instagram
		.small-caption Подписывайся на #[a(href="#") @nahlebnik.i] и следи за появлением новых рецептов
	.insta-screen__content
		.insta-slider
			.swiper-nav
				.swiper-button-prev
				.swiper-button-next
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href="images/lavash.jpg" data-fancybox="gallery")
							img(src="images/lavash.jpg" alt="")
					.swiper-slide
						a(href="images/lavash.jpg" data-fancybox="gallery")
							img(src="images/lavash.jpg" alt="")
					.swiper-slide
						a(href="images/lavash.jpg" data-fancybox="gallery")
							img(src="images/lavash.jpg" alt="")
					.swiper-slide
						a(href="images/lavash.jpg" data-fancybox="gallery")
							img(src="images/lavash.jpg" alt="")
					.swiper-slide
						a(href="images/lavash.jpg" data-fancybox="gallery")
							img(src="images/lavash.jpg" alt="")
					.swiper-slide
						a(href="images/lavash.jpg" data-fancybox="gallery")
							img(src="images/lavash.jpg" alt="")
					.swiper-slide
						a(href="images/lavash.jpg" data-fancybox="gallery")
							img(src="images/lavash.jpg" alt="")
					.swiper-slide
						a(href="images/lavash.jpg" data-fancybox="gallery")
							img(src="images/lavash.jpg" alt="")
					.swiper-slide
						a(href="images/lavash.jpg" data-fancybox="gallery")
							img(src="images/lavash.jpg" alt="")

