.main-screen
	.author-slider
		.author-slider__photos
			.author-slider__photo
				img(src="../images/genia.jpg")
			.author-slider__photo
				img(src="../images/andrey.JPG")
			.author-slider__photo
				img(src="../images/anya.JPG")
			.author-slider__photo
				img(src="../images/nevena.jpg")
			.author-slider__photo
				img(src="../images/genia.jpg")
			.author-slider__photo
				img(src="../images/mama.jpg")
			.author-slider__photo
				img(src="../images/sasha.JPG")
			.author-slider__photo.active
				img(src="../images/andrey.JPG")
			.author-slider__photo
				img(src="../images/nevena.jpg")
		.author-slider__recipes
			.author-slider__foodphotos
				img(src="../images/lavash.jpg")
				img(src="../images/burger.jpg")
				img(src="../images/syrnik.jpg")
				img(src="../images/vert.jpg")
				img(src="../images/lavash.jpg")
				img(src="../images/burger.jpg")
				img(src="../images/syrnik.jpg")
				img(src="../images/burger.jpg" class="active")
				img(src="../images/vert.jpg")
			.author-slider__authors
				.author-slider__author
					.author-slider__circle-photo
						img(src="../images/icons/maps/ukraine-map.svg")
					.author-slider__text Вареники с горохом и беконом
					.author-slider__name Евгения Тихонова
					.author-slider__country Украина, г.Львов
					a(href='#' class="author-slider__button button_framed") Смотреть рецепт
				.author-slider__author
					.author-slider__circle-photo
						img(src="../images/icons/maps/austria-map.png")
					.author-slider__text Андреевский лаваш
					.author-slider__name Андрей Разумейко
					.author-slider__country Беларусь, г.Орша
					a(href='#' class="author-slider__button button_framed") Смотреть рецепт
				.author-slider__author
					.author-slider__circle-photo
						img(src="../images/icons/maps/ukraine-map.png")
					.author-slider__text Львовский Сырник
					.author-slider__name Анна Гавай
					.author-slider__country Украина, г.Львов
					a(href='#' class="author-slider__button button_framed") Смотреть рецепт
				.author-slider__author
					.author-slider__circle-photo
						img(src="../images/icons/maps/austria-map.png")
					.author-slider__text Фасоль по-сербски
					.author-slider__name Невена
					.author-slider__country Сербия
					a(href='#' class="author-slider__button button_framed") Смотреть рецепт
				.author-slider__author
					.author-slider__circle-photo
						img(src="../images/icons/maps/austria-map.png")
					.author-slider__text Вареники с горохом и беконом
					.author-slider__name Евгения Тихонова
					.author-slider__country Украина, г.Львов
					a(href='#' class="author-slider__button button_framed") Смотреть рецепт
				.author-slider__author
					.author-slider__circle-photo
						img(src="../images/icons/maps/austria-map.png")
					.author-slider__text Творожный пирог
					.author-slider__name Тамара Разумейко
					.author-slider__country Беларусь, г.Орша
					a(href='#' class="author-slider__button button_framed") Смотреть рецепт
				.author-slider__author
					.author-slider__circle-photo
						img(src="../images/icons/maps/nigeria-map.png")
					.author-slider__text Бургер
					.author-slider__name Александр Федосеев
					.author-slider__country Беларусь, г.Минск
					a(href='#' class="author-slider__button button_framed") Смотреть рецепт
				.author-slider__author.active
					.author-slider__circle-photo
						img(src="../images/icons/maps/austria-map.png")
					.author-slider__text Андреевский лаваш
					.author-slider__name Андрей Разумейко
					.author-slider__country Беларусь, г.Орша
					a(href='#' class="author-slider__button button_framed") Смотреть рецепт
				.author-slider__author
					.author-slider__circle-photo
						img(src="../images/icons/maps/hungary-map.png")
					.author-slider__text Фасоль по-сербски
					.author-slider__name Невена
					.author-slider__country Сербия
					a(href='#' class="author-slider__button button_framed") Смотреть рецепт