.main-screen.flex
	.author-plates.flex
		.author-plates__plate.author-plates__plate_author1
		.author-plates__plate.author-plates__plate_author2
		.author-plates__plate.author-plates__plate_author3
		.author-plates__plate.author-plates__plate_author4
		.author-plates__plate.author-plates__plate_author5
		.author-plates__plate.author-plates__plate_author6
		.author-plates__plate.author-plates__plate_author1
		.author-plates__plate.author-plates__plate_author2
		.author-plates__plate.author-plates__plate_author3
	.recipe-active
		.author-active
			.author-active__photo
			.author-active__text Андреевский лаваш
			.author-active__name Андрей Разумейко
			.author-active__country Беларусь, г.Орша
			a(href='#' class="author-active__button button") Смотреть рецепт