mixin recipe(recipeLink, recipeName, authorName, cityName)
	a.recipes__item-wr(href='#{recipeLink}')
		.recipes__photo
			img(src="../images/lavash.jpg" class="recipes__photo-food")
			img(src="../images/nevena.jpg" class="recipes__photo-author")
		.recipes__text
			.recipes__caption=recipeName
			.recipes__author=authorName
			.recipes__city=cityName

.recipes-screen
	.wrapper
		h1(class="caption") Что здесь вкусненького
		.recipes
			.recipes__item
				+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
			.recipes__item
				+recipe("#", "Драники", "Мирослава", "г. Черновцы, Украина")
			.recipes__item
				+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
			.recipes__item
				+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
			.recipes__item
				+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
			.recipes__item
				+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
			.recipes__item
				+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
			.recipes__item
				+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
		a(href="#" class="button recipes-screen__button") Смотреть все рецепты