@import "parts/swiper.css";
@import './variables/variables';
@import "parts/base-blocks.scss";
@import "parts/header.scss";
@import "parts/main-screen.scss";
@import "parts/about.scss";
@import "parts/recipes.scss";
@import "parts/trips-screen.scss";
@import "parts/recipe.scss";
@import "parts/form.scss";
@import "parts/insta.scss";
@import "parts/tabs.scss";


footer {
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
}

.inner-page {
	.about-screen {
		margin-top: 0;
		padding: 100px 0 70px;
	}

	.photo-info {
		margin-bottom: 90px;
	}
}


/*media*/ 

@media screen and (max-width: 1279px) {
    
	
}

@media screen and (max-width: 1023px) {
    
    
}

@media screen and (max-width: 767px) {
    

}

@media screen and (max-width: 639px) {
    

	
}