extends template/base.pug
block content
	include template/header
	include template/main-screen
	include template/about-screen
	include template/recipes-screen	
	include template/form
	include template/insta
	include template/footer
