extends template/inner-page.pug

mixin recipe(recipeLink, recipeName, authorName, cityName)
	a.recipes__item-wr(href='#{recipeLink}')
		.recipes__photo
		.recipes__photo.recipes__photo_author
		.recipes__text
			.recipes__caption=recipeName
			.recipes__author=authorName
			.recipes__city=cityName
					
block content
	include template/header
	.recipes-screen
		.wrapper
			h1(class="caption") Рецепты

			.tabs
				.tabs__buttons
					.tabs__button.button.button_framed
						span Завтраки
					.tabs__button.button.button_framed
						span Закуски
					.tabs__button.button.button_framed 
						span Десерты
					
				.tabs__content
					.tabs__item
						.recipes.flex
							.recipes__item
								+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
							.recipes__item
								+recipe("#", "Драники", "Мирослава", "г. Черновцы, Украина")
							.recipes__item
								+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
							.recipes__item
								+recipe("#", "Драники", "Мирослава", "г. Черновцы, Украина")
							.recipes__item
								+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
							.recipes__item
								+recipe("#", "Драники", "Мирослава", "г. Черновцы, Украина")
					.tabs__item
						.recipes.flex
							.recipes__item
								+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
							.recipes__item
								+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
							.recipes__item
								+recipe("#", "Драники", "Мирослава", "г. Черновцы, Украина")
					.tabs__item
						.recipes.flex
							.recipes__item
								+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
							.recipes__item
								+recipe("#", "Драники", "Мирослава", "г. Черновцы, Украина")
							.recipes__item
								+recipe("#", "Драники", "Мирослава", "г. Черновцы, Украина")
							.recipes__item
								+recipe("#", "Вертолетики", "Елена", "г. Борисов, Беларусь")
							.recipes__item
								+recipe("#", "Драники", "Мирослава", "г. Черновцы, Украина")

	include template/form
	include template/insta
	include template/footer